# All EXPO_PUBLIC_ values are embedded in the client bundle. Do not add secrets.
EXPO_PUBLIC_APP_ENV=development
EXPO_PUBLIC_APP_NAME=Meadow
EXPO_PUBLIC_API_BASE_URL=http://localhost:3000
EXPO_PUBLIC_API_TIMEOUT=30000
EXPO_PUBLIC_ENABLE_ANALYTICS=false
EXPO_PUBLIC_ENABLE_CRASH_REPORTING=false
